/* Carousel.css */

.carousel-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  height: auto;
}

.image-wrapper {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 20s linear infinite; /* Adjust animation duration as needed */
}

.carousel-image {
  width: 300px; /* Adjust the width of your images as needed */
  height: auto;
  margin-right: 10px; /* Adjust the margin between images as needed */
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.card {
  margin: 20px;
  padding: 10px;
}
